
/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(15%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-15%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-15%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.toast.slideUp {
  animation: slideUp 0.5s ease-in-out;
}

.toast.slideDown {
  animation: slideDown 0.5s ease-in-out;
}
.toast.slideRight {
  animation: slideRight 0.5s ease-in-out;
}
.toast.slideLeft {
  animation: slideLeft 0.5s ease-in-out;
}

.toast.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.toast.fadeOut {
  animation: fadeOut 0.5s;
}



@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

